
body {
	background: #00091B;
	color: #fff;
  }
  
  
  @keyframes fadeIn {
	from {top: 20%; opacity: 0;}
	to {top: 100; opacity: 1;}
	
  }
  
  @-webkit-keyframes fadeIn {
	from {top: 20%; opacity: 0;}
	to {top: 100; opacity: 1;}
	
  }

  
	
  
  
  .wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	animation: fadeIn 1000ms ease;
	-webkit-animation: fadeIn 1000ms ease;
	
  }
  
  h1 {
	font-size: 50px;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 0;
	line-height: 1;
	font-weight: 700;
  }

  p{
	position: ;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 0;
	line-height: 1;
	font-weight: 200;
  }

  .wrapper p a{
	color: #cfd2d6;
	text-decoration: none;
}
  
  .wrapper p a:hover{
	color: #27bcda;
}
  .dot {
	color: #4FEBFE;
  }
  
  p {
	text-align: center;
	margin: 18px;
	font-family: 'Muli', sans-serif;
	font-weight: normal;
	
  }
  
  .countdown-timer-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
   }
   .countdown-timer-container div {
	width: 25%;
	text-align: center;
	font-size: 30px;
   }
   .countdown-timer-values {
	font-size: 60px !important;
   }
   
   .icons {
	text-align: center;
	
  }
  
  .icons i {
	color: #00091B;
	background: #fff;
	height: 15px;
	width: 15px;
	padding: 13px;
	margin: 0 10px;
	border-radius: 50px;
	border: 2px solid #fff;
	transition: all 200ms ease;
	text-decoration: none;
	position: relative;
  }
  
  .icons i:hover, .icons i:active {
	color: #fff;
	background: none;
	cursor: pointer !important;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	text-decoration: none;
  }

  .container{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 650px;
    height: 500px;
    margin-top: 90px;
    background-color: #FBFBFB;
    display: flex;
}
.section1{
    width: 40%;
    padding-left: 50px;
}
.section2{
    width: 50%;  
}
.section2  img{
    width: 100%;
    height: 100%;
    margin: 10px 0px 0px 8px;
}
h5{
    margin-top: -12px;
}
label{
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(48, 48, 48);
}
input{
    border: none;
    width: 100%;
    border-bottom: 1px solid lightgray;
    background-color: #FBFBFB;
    position: relative;
    top: -10px;
    padding: 5px;
}
input:focus {
    outline: none !important;
    border-bottom: 1px solid red;
    font-size: 14px;
    font-weight: bold;
}
.password:focus{
    color: red;
    font-size: 16px;
    font-weight: bold;
}
.btn{
    border: none;
    background-color: red;
    border-radius: 20px;
    padding: 10px;
    color: white;
    width: 120px;
    margin-top: 15px;
}
p{
    font-size: small;
}
.line{
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin-top: 50px;
}
.socialIcons{
    display: flex;
    margin-top: 5px;
}
.icon{
    margin: 10px 7px;
    position: relative;
    left: 30px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 12px;
    line-height: 25px;
}
.fab{
    position: relative;
    left: 6px;
}
.fb  .fab {
    position:relative;
    left: 8px;
}
h6{
    position:relative;
    top: -8px;
    font-size: 12px;
}
.icon:hover, #btn:hover{
    box-shadow: 0 0 25px rgba(8, 8, 8, 0.2);
    background-color: rgb(182, 49, 93);
}
  footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #00091B;
	height: auto;
	width: 100vw;
	padding-top: 20px;
	color: #fff
  }

.footer-bottom {
	background: #000;
	width: 97.5vw;
	padding: 20px;
	padding-bottom: 40px;
	text-align: center;
}

.footer-bottom p{
	float: left;
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}
.footer-bottom p a{
	color: #44bae8;
	font-size: 16px;
	text-decoration: none;
}

.footer-bottom span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}

.footer-bottom ul{
	float: right;
}

.footer-bottom ul{
	display: flex;
}

.footer-bottom ul li{
	padding-right: 10px;
	display: block;
}

.footer-bottom ul li a{
	color: #cfd2d6;
	text-decoration: none;
}

.footer-bottom ul li a:hover{
	color: #27bcda;
}

@media (max-width:500px) {
	.footer-bottom ul{
		display: flex;
		margin-top: 10px;
		margin-bottom: 20px;
	}
}

@media (min-width: 600px) {
	.column {
		width: 50%;
	}
}